<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body class="bg-light" >
    <div class="container bg-white mt-3" >
    <h1 class="text-center">Welcome to customerportal.com, <%= @customer.first_name %> </h1>
    <p>
      You have successfully signed up to example.com,
      your username is:<b><%= @customer.email %> </b>.<br>
    </p>
    <p>
      To login to the site, just follow this link:
    </p>
    <p>Thanks for joining and have a great day!</p>
    <%= image_tag attachments['image1.jpg'].url , size: "1000x500" %>
   
    </div>
  </body>
</html>